In [ ]:
import os
import gc
import warnings

import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### 결측치

In [ ]:
data= pd.read_csv('/content/drive/MyDrive/파이널프로젝트_RAW_210329_210926.csv')
data.head(10)
#105419 rows X 18 columns

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,method,subcategory_title,marketing_start_at
0,970634,504760.0,201435.0,ORDER,CANCELLED,올인원 패키지 : 알고리즘 기술면접 완전 정복,프로그래밍,올인원,2021-03-28 15:00:11,90500,NaN,NaN,110500.0,110500.0,NaN,VBANK,개발자 커리어,NaN
1,970650,432862.0,203178.0,ORDER,CANCELLED,초격차 패키지 : 한번에 끝내는 영상 촬영과 편집,영상/3D,올인원,2021-03-28 15:16:53,96000,NaN,NaN,116000.0,116000.0,NaN,CARD,영상 편집,2020-12-02 0:00:00
2,970657,72297.0,204246.0,PAYMENT,COMPLETED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,171810,[10% 할인] 시크릿코드 실무 완성편,19090.0,190900.0,190900.0,NaN,CARD,NaN,2021-03-04 0:00:00
3,970656,72297.0,204246.0,ORDER,CANCELLED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,171810,NaN,NaN,190900.0,190900.0,NaN,CARD,NaN,2021-03-04 0:00:00
4,970658,478028.0,201797.0,PAYMENT,COMPLETED,올인원 패키지 : 직장인 필수 스킬 3종 세트 MAX,업무 생산성,올인원,2021-03-28 15:21:54,97500,[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰,20000.0,117500.0,117500.0,NaN,CARD,PPT/보고서,2019-11-14 0:00:00
5,970655,478028.0,201797.0,ORDER,CANCELLED,올인원 패키지 : 직장인 필수 스킬 3종 세트 MAX,업무 생산성,올인원,2021-03-28 15:21:56,97500,NaN,NaN,117500.0,117500.0,NaN,CARD,PPT/보고서,2019-11-14 0:00:00
6,970614,477910.0,NaN,ORDER,CANCELLED,프로모션 : 2021 내 커리어 지켜 줄 UX/UI 디자인 한끝세트 (3월 프리패스),크리에이티브,올인원,2021-03-28 15:22:36,299000,NaN,NaN,299000.0,299000.0,NaN,CARD,NaN,NaN
7,970664,460730.0,200622.0,ORDER,CANCELLED,올인원 패키지 : 기업가치 평가와 M&A 전략 실무,부동산/금융,올인원,2021-03-28 15:25:42,112500,NaN,NaN,122500.0,122500.0,NaN,CARD,금융/투자 실무,2019-05-02 0:00:00
8,970669,478033.0,203178.0,PAYMENT,COMPLETED,초격차 패키지 : 한번에 끝내는 영상 촬영과 편집,영상/3D,올인원,2021-03-28 15:26:47,96000,[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰,20000.0,116000.0,116000.0,NaN,CARD,영상 편집,2020-12-02 0:00:00
9,970667,478033.0,203178.0,ORDER,CANCELLED,초격차 패키지 : 한번에 끝내는 영상 촬영과 편집,영상/3D,올인원,2021-03-28 15:26:48,96000,NaN,NaN,116000.0,116000.0,NaN,CARD,영상 편집,2020-12-02 0:00:00

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105419 entries, 0 to 105418
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      105419 non-null  int64
 1   customer_id             105416 non-null  float64
 2   course_id               100212 non-null  float64
 3   type                    105419 non-null  object
 4   state                   105419 non-null  object
 5   course_title            105403 non-null  object
 6   category_title          105395 non-null  object
 7   format                  105403 non-null  object
 8   completed_at            105419 non-null  object
 9   transaction_amount      105419 non-null  int64
 10  coupon_title            31817 non-null   object
 11  coupon_discount_amount  31817 non-null   float64
 12  sale_price              104291 non-null  float64
 13  tax_free_amount         104291 non-null  float64
 14  pg                      90344 non-null   object
 15  method                  92323 non-null   object
 16  subcategory_title       85590 non-null   object
 17  marketing_start_at      87440 non-null   object
dtypes: float64(5), int64(2), object(11)
memory usage: 14.5+ MB

In [ ]:
data['coupon_discount_amount'] = data['sale_price'] - data['transaction_amount']#coupon_discount결측치 제거

In [ ]:
data['sale_price'] = data['sale_price'].fillna(data['transaction_amount']) #sale_price 결측치 제거

In [ ]:
del data['tax_free_amount']

In [ ]:
data['pg'] = data['pg'].fillna('default') #NaN은 초기값이므로 default

In [ ]:
data['marketing_start_at'] = data['marketing_start_at'].fillna(data['completed_at']) #날짜 없는 것은 마지막 끝 날짜로

In [ ]:
#method 결측치를 위한 최빈값 구하기
data['method'].agg(**{
    'most_common_value':lambda x:x.mode()
}).reset_index()

             level_0  level_1     0
0  most_common_value        0  CARD

In [ ]:

data['method'] = data['method'].fillna('CARD') #최반값 설정

In [ ]:
idx = data[data['type'] == "ORDER" ].index     
data.drop(idx , inplace=True) # 해당 인덱스를 제거함

In [ ]:
idx = data[data['type'] == "TRANSACTION" ].index     
data.drop(idx , inplace=True) # 해당 인덱스를 제거함

In [ ]:
idx = data[data['state'] == "PENDING"].index     
data.drop(idx , inplace=True) # 해당 인덱스를 제거함

In [ ]:
idx = data[data['state'] == "CANCELLED"].index     
data.drop(idx , inplace=True) # 해당 인덱스를 제거함

In [ ]:
idx = data[data['state'] == "HIDDEN"].index     
data.drop(idx , inplace=True) # 해당 인덱스를 제거함

In [ ]:
idx = data[data['state'] == "DELETED"].index     
data.drop(idx , inplace=True) # 해당 인덱스를 제거함

In [ ]:
data[~data['coupon_title'].str.contains("검수용", na=False, case=False)] #검수용 데이터 제거

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,pg,method,subcategory_title,marketing_start_at
2,970657,72297.0,204246.0,PAYMENT,COMPLETED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,171810,[10% 할인] 시크릿코드 실무 완성편,19090.0,190900.0,default,CARD,NaN,2021-03-04 0:00:00
4,970658,478028.0,201797.0,PAYMENT,COMPLETED,올인원 패키지 : 직장인 필수 스킬 3종 세트 MAX,업무 생산성,올인원,2021-03-28 15:21:54,97500,[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰,20000.0,117500.0,default,CARD,PPT/보고서,2019-11-14 0:00:00
8,970669,478033.0,203178.0,PAYMENT,COMPLETED,초격차 패키지 : 한번에 끝내는 영상 촬영과 편집,영상/3D,올인원,2021-03-28 15:26:47,96000,[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰,20000.0,116000.0,default,CARD,영상 편집,2020-12-02 0:00:00
10,970671,469860.0,203644.0,PAYMENT,COMPLETED,올인원 패키지 : 권오상의 금융 아카데미 - 권오상의 재무제표 분석 기초(평생소장),부동산/금융,올인원,2021-03-28 15:27:17,263000,NaN,0.0,263000.0,default,CARD,NaN,2020-11-27 0:00:00
14,970676,478035.0,203720.0,PAYMENT,COMPLETED,초격차 패키지 : 한 번에 끝내는 프론트엔드 개발,프로그래밍,올인원,2021-03-28 15:31:01,91000,[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰,20000.0,111000.0,default,CARD,프론트엔드 개발,2021-02-02 0:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105411,1364969,669238.0,204286.0,PAYMENT,COMPLETED,초격차 패키지 : 한번에 끝내는 3D 디자인 툴,디자인,올인원,2021-09-25 13:39:26,212000,[미래투자금] 온라인 강의 2만원 할인쿠폰,20000.0,232000.0,INICIS,CARD,디자인툴,2021-04-23 0:00:00
105412,1364976,384003.0,203178.0,PAYMENT,COMPLETED,초격차 패키지 : 한번에 끝내는 영상 촬영과 편집,영상/3D,올인원,2021-09-25 13:46:29,149000,NaN,0.0,149000.0,KAKAO,CARD,영상 편집,2020-12-02 0:00:00
105413,1364991,670891.0,203935.0,PAYMENT,COMPLETED,초격차 패키지 : 한 번에 끝내는 파이썬 웹 개발,프로그래밍,올인원,2021-09-25 14:01:26,159000,[미래투자금] 온라인 강의 2만원 할인쿠폰,20000.0,179000.0,INICIS,CARD,백엔드 개발,2021-05-31 0:00:00
105416,1364996,640697.0,205365.0,PAYMENT,COMPLETED,초격차 패키지 : 한 번에 끝내는 유튜브 크리에이터 되기,영상/3D,올인원,2021-09-25 14:17:41,96000,[WELCOME] 온라인 강의 2만원 할인쿠폰,20000.0,116000.0,INICIS,VBANK,영상 편집,2021-06-15 0:00:00
105418,1365007,610626.0,206720.0,PAYMENT,COMPLETED,용호수의 돈 버는 실전 영상 제작,영상/3D,올인원,2021-09-25 14:25:47,139000,[WELCOME] 온라인 강의 3만원 할인쿠폰,30000.0,169000.0,NAVER,POINT,영상 편집,2021-08-17 0:00:00

In [ ]:
data.isnull().sum()

id                            0
customer_id                   0
course_id                  2156
type                          0
state                         0
course_title                  1
category_title                4
format                        1
completed_at                  0
transaction_amount            0
coupon_title              32975
coupon_discount_amount     1080
sale_price                    0
pg                            0
method                        0
subcategory_title         10307
marketing_start_at            0
dtype: int64

In [ ]:
data['type'].unique()

array(['PAYMENT', 'REFUND'], dtype=object)

In [ ]:
data['state'].unique()

array(['COMPLETED', 'REQUESTED'], dtype=object)

In [ ]:
data[data['course_title'].isnull()]

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,pg,method,subcategory_title,marketing_start_at
47361,1117129,549990.0,NaN,PAYMENT,COMPLETED,NaN,NaN,NaN,2021-06-02 16:48:37,10500000,NaN,NaN,10500000.0,default,TRANSFER,NaN,2021-06-02 16:48:37

In [ ]:
data.drop(data.loc[data['id']==1117129].index, inplace=True)

In [ ]:
data.isnull().sum()

id                            0
customer_id                   0
course_id                  2155
type                          0
state                         0
course_title                  0
category_title                3
format                        0
completed_at                  0
transaction_amount            0
coupon_title              32974
coupon_discount_amount     1079
sale_price                    0
pg                            0
method                        0
subcategory_title         10306
marketing_start_at            0
dtype: int64

In [ ]:
data[data['category_title'].isnull()]

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,pg,method,subcategory_title,marketing_start_at
41878,1078156,62566.0,NaN,REFUND,COMPLETED,프로모션 : 자유이용권 (3월),NaN,온라인,2021-05-26 22:06:00,-199000,NaN,398000.0,199000.0,default,TRANSFER,NaN,2021-05-26 22:06:00
72639,1212937,591404.0,NaN,PAYMENT,COMPLETED,프로모션 : 풀스택 데이터 사이언티스트를 위한 필수 iPad 패키지 (7월 현물 프...,NaN,올인원,2021-07-12 23:38:42,990000,NaN,0.0,990000.0,INICIS,CARD,NaN,2021-07-12 23:38:42
74975,1223480,598011.0,NaN,PAYMENT,COMPLETED,프로모션 : 풀스택 데이터 사이언티스트를 위한 필수 iPad 패키지 (7월 현물 프...,NaN,올인원,2021-07-18 12:31:01,990000,NaN,0.0,990000.0,INICIS,CARD,NaN,2021-07-18 12:31:01

In [ ]:
data['category_title'].replace(['데이터 사이언스'], ['데이터사이언스'], inplace= True)

In [ ]:
data.loc[(data.category_title.isnull()) & (data.course_title.str.contains('데이터 사이언티스트')) , 'category_title' ] = '데이터사이언스'
data.loc[(data.category_title.isnull()) & (data.course_title.str.contains('자유이용권')) , 'category_title' ] = '자유이용권'

In [ ]:
data.isnull().sum()

id                            0
customer_id                   0
course_id                  2155
type                          0
state                         0
course_title                  0
category_title                0
format                        0
completed_at                  0
transaction_amount            0
coupon_title              32974
coupon_discount_amount     1079
sale_price                    0
pg                            0
method                        0
subcategory_title         10306
marketing_start_at            0
dtype: int64

In [ ]:
data1 = data.copy()

In [ ]:
dataframe = pd.DataFrame(data1) ## 데이터프래임 생성
dataframe.to_csv('./Download',index=False) ## 구분자를 탭으로 하여 저장. 인덱스칼럼은 저장 안함.

### Feature engineering

###  유입 / 이탈고객

In [ ]:
#for k in ['프로그래밍']:
#    inflow = len(data[(data['type'] == 'PAYMENT') & (data['state'] == 'COMPLETED') & (data['category_title'] ==k)])
#    inflow1 = len(data[(data['type'] == 'PAYMENT') & (data['state'] == 'REQUESTED') & (data['category_title'] ==k)])
#    outflow = len(data[(data['type'] == 'REFUND') & (data['state'] == 'COMPLETED') & (data['category_title'] ==k)])

#print('유입:', inflow)
#print('유입 요청:', inflow)
#print('이탈:' , outflow)

In [ ]:
#유입, 유입 요청, 이탈를 카테고리 타이틀을 기준으로 한 함수입니다.
#inflow : 구매 완료자7


#inflow1: 패캠에서 구매 요청
#outflow: 이탈자.환불
#

def class_customer(v1):

    inflow = len(data[(data['type'] == 'PAYMENT') & (data['state'] == 'COMPLETED') & (data['category_title'] == v1)])
    inflow1 = len(data[(data['type'] == 'PAYMENT') & (data['state'] == 'REQUESTED') & (data['category_title'] == v1)])
    outflow = len(data[(data['type'] == 'REFUND') & (data['state'] == 'COMPLETED') & (data['category_title'] == v1)])
    return inflow , inflow1, outflow

In [ ]:
a = []
a = class_customer('프로그래밍')

print('(유입,유입 요청, 이탈)',a)

(유입,유입 요청, 이탈) (17608, 4, 1455)

In [ ]:
a = class_customer('데이터사이언스')
print('(유입,유입 요청, 이탈)',a)

(유입,유입 요청, 이탈) (6906, 2, 453)

In [ ]:
a = class_customer('업무 생산성')

print('(유입,유입 요청, 이탈)',a)

(유입,유입 요청, 이탈) (6623, 2, 345)

In [ ]:
data['category_title'].unique()

array(['프로그래밍', '업무 생산성', '영상/3D', '부동산/금융', '데이터사이언스', '디자인', '마케팅',
       '크리에이티브', '투자/재테크', '교육', '관리', '자유이용권', '비즈니스', '지식콘텐츠', '파이낸스'],
      dtype=object)

In [ ]:
data['subcategory_title'].value_counts()

영상 편집        3871
백엔드 개발       3649
개발자 커리어      3289
프론트엔드 개발     2973
딥러닝/인공지능     2436
데이터분석        2227
PPT/보고서      2184
엑셀/VBA       2084
디자인툴         2035
모바일앱         1968
글쓰기/카피라이팅    1801
일러스트         1701
UX/UI        1421
DevOps       1288
주식 투자        1194
금융/투자 실무     1187
데이터마케팅       1168
머신러닝         1130
회계/재무/세무     1045
모션그래픽        1024
시각디자인        1008
게임            907
디지털마케팅        904
SNS마케팅        705
부동산 개발        633
업무자동화         514
코딩 입문         449
부동산 투자        403
VFX           379
리더십           296
게임 그래픽        245
데이터엔지니어링      190
커뮤니케이션        123
Name: subcategory_title, dtype: int64

In [ ]:
data['category_title'].value_counts()

프로그래밍      19067
데이터사이언스     7361
업무 생산성      6970
디자인         6174
영상/3D       5522
마케팅         5078
부동산/금융      3013
투자/재테크      1597
크리에이티브       955
교육           932
비즈니스          24
지식콘텐츠         23
파이낸스          19
관리             1
자유이용권          1
Name: category_title, dtype: int64

In [ ]:
955+932+24+23+19+1+1

1955

In [ ]:
#print(len(data[(data['type'] == 'PAYMENT') & (data['state'] == 'COMPLETED') & (data['category_title'] == '마케팅') & (data['subcategory_title'] == '글쓰기/카피라이팅')]))
#print(len(data[(data['type'] == 'PAYMENT') & (data['state'] == 'REQUESTED') & (data['category_title'] == '데이터사이언스') & (data['subcategory_title'] == '데이터분석')]))
#print(len(data[(data['type'] == 'REFUND') & (data['state'] == 'COMPLETED') & (data['category_title'] == '데이터사이언스') & (data['subcategory_title'] == '데이터분석')]))

프로그래밍 : 프론트엔드 개발, 백엔드 개발, DevOps, 모바일앱, 게임, 개발자 커리어, 코딩 입문

데이터사이언스: 딥러닝/인공지능, 머신러닝, 데이터분석,데이터엔지니어링

업무생산성: PPT/보고서, 업무자동화,커뮤니케이션, 리더십,엑셀/VBA

디자인: 일러스트, UX/UI,시각 디자인,디자인툴

영상/3D: 영상 편집, 모션그래픽, 게임 그래픽,VFX

마케팅: 디지털 마케팅, 데이터마케팅,SNS마케팅, 글쓰기/ 카피라이팅

부동산/금융: 금융/투자 실무, 부동산 개발, 회계/재무/세무

투자/재테크: 주식 투자, 부동산 투자


<br>

위의 부분이 문제일 것 같네요

아래 부분은 course_title와 Subcategory_title를 잡으면 결측치 해결

<NAN:1955>

크리에이티브      
교육           
비즈니스          
지식콘텐츠         
파이낸스          
관리             
자유이용권

### 강의 가격

In [ ]:
data[data['transaction_amount']>data['sale_price']][data['state']=='COMPLETED']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,pg,method,subcategory_title,marketing_start_at
8970,996550,461401.0,203848.0,PAYMENT,COMPLETED,부동산 디벨로퍼 아카데미 : 주거용 수익형 부동산 개발,부동산/금융,올인원,2021-04-07 14:49:55,143500,NaN,-23500.0,120000.0,default,TRANSFER,부동산 개발,2020-12-24 0:00:00
27018,1050531,382005.0,205059.0,PAYMENT,COMPLETED,데이터분석 프로젝트+자격증 온라인 완주반 4기,데이터사이언스,온라인 완주반,2021-05-03 16:15:25,350000,NaN,-20000.0,330000.0,default,TRANSFER,NaN,2021-04-26 0:00:00
31972,1065300,36541.0,203531.0,PAYMENT,COMPLETED,초격차 패키지 : 한 번에 끝내는 데이터 분석 툴,데이터사이언스,올인원,2021-05-11 19:06:44,187850,NaN,-104350.0,83500.0,default,VOUCHER,데이터분석,2021-02-10 0:00:00
31973,1065299,36541.0,203532.0,PAYMENT,COMPLETED,연습문제 패키지 : 퀴즈처럼 풀면서 배우는 파이썬 딥러닝 300제+,데이터사이언스,올인원,2021-05-11 19:06:44,273000,NaN,-179500.0,93500.0,default,VOUCHER,딥러닝/인공지능,2021-02-22 0:00:00
31974,1065295,36541.0,203499.0,PAYMENT,COMPLETED,올인원 패키지 : 100억을 움직이는 단 10장의 PPT,업무 생산성,올인원,2021-05-11 19:06:44,207350,NaN,-85350.0,122000.0,default,VOUCHER,PPT/보고서,2020-12-07 0:00:00
62693,1172233,36541.0,202674.0,PAYMENT,COMPLETED,올인원 패키지 : 수학적으로 접근하는 딥러닝,데이터사이언스,올인원,2021-06-28 17:18:01,165050,NaN,-7050.0,158000.0,default,VOUCHER,딥러닝/인공지능,2020-06-02 0:00:00
71037,1206890,589068.0,204342.0,PAYMENT,COMPLETED,"올인원 패키지 : GA4 탑재, 구글 애널리틱스 끝장내기",마케팅,올인원,2021-07-09 15:32:05,193700,NaN,-64700.0,129000.0,default,VOUCHER,데이터마케팅,2021-04-02 0:00:00

In [ ]:
data[data['coupon_discount_amount']>data['sale_price']][data['transaction_amount']>0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [id, customer_id, course_id, type, state, course_title, category_title, format, completed_at, transaction_amount, coupon_title, coupon_discount_amount, sale_price, pg, method, subcategory_title, marketing_start_at]
Index: []